<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Sun Admin Colors</div>
	</div>
	<div class="panel-body admin-color-list">
		<div class="clearfix text-center">
			<div class="pull-left" style="margin-right: 10px; margin-bottom: 10px;">
				<div class="admin-color-box color-box-brand-default">
					<div style="font-size: 12px;">
						MAIN 01
					</div>
					<div style="width: 60px;">
						#5fcba7
					</div>
				</div>
			</div>
			<div class="pull-left" style="margin-right: 10px; margin-bottom: 10px;">
				<div class="admin-color-box color-box-brand-green">
					<div style="font-size: 12px;">
						MAIN 02
					</div>
					<div style="width: 60px;">
						#519a81
					</div>
				</div>
			</div>
			<div class="pull-left" style="margin-right: 10px; margin-bottom: 10px;">
				<div class="admin-color-box color-box-brand-green-dark">
					<div style="font-size: 12px;">
						SUB 01
					</div>
					<div style="width: 60px;">
						#108a66
					</div>
				</div>
			</div>
			<div class="pull-left" style="margin-right: 10px; margin-bottom: 10px;">
				<div class="admin-color-box color-box-brand-khaki">
					<div style="font-size: 12px;">
						SUB 02
					</div>
					<div style="width: 60px;">
						#606b57
					</div>
				</div>
			</div>
			<div class="pull-left" style="margin-right: 10px; margin-bottom: 10px;">
				<div class="admin-color-box color-box-brand-green-lighter">
					<div style="font-size: 12px;">
						SUB 03
					</div>
					<div style="width: 60px;">
						#74cac3
					</div>
				</div>
			</div>
			<div class="pull-left" style="margin-right: 10px; margin-bottom: 10px;">
				<div class="admin-color-box color-box-brand-point-blue">
					<div style="font-size: 12px;">
						BLUE
					</div>
					<div style="width: 60px;">
						#00b4b9
					</div>
				</div>
			</div>
			<div class="pull-left" style="margin-right: 10px; margin-bottom: 10px;">
				<div class="admin-color-box color-box-brand-point-orange">
					<div style="font-size: 12px;">
						ORANGE
					</div>
					<div style="width: 60px;">
						#e88129
					</div>
				</div>
			</div>
		</div>
	</div>
</div>