/* Admin Styles  */
/* Base  */
/* Mixins */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Light.eot');
  src: url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Light.eot#iefix') format('embedded-opentype'), url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff') format('woff'), url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 600;
  src: url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Medium.eot');
  src: url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Medium.eot#iefix') format('embedded-opentype'), url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff') format('woff'), url('../../../fonts/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf') format('truetype');
}
body {
  color: #4d5756;
  font-family: 'Helvetica', 'Apple SD Gothic Neo', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
a {
  display: block;
  cursor: pointer;
}
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  outline: none;
  -moz-outline-style: none;
}
a:active {
  outline: none;
  -moz-outline-style: none;
}
th {
  font-weight: normal;
}
table th {
  text-align: center;
}
table td a {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
.admin-header {
  padding-left: 230px;
  min-height: 50px;
  background-color: #5ec8be;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.admin-header-title {
  margin-top: 15px;
  margin-left: 15px;
  color: #ffffff;
  font-size: 15px;
}
.admin-sidebar-header {
  background: url('../images/admin/admin_header_bg_polygon.png'), -webkit-linear-gradient(left, #e88129, #5ec8be);
  background: url('../images/admin/admin_header_bg_polygon.png'), -moz-linear-gradient(left, #e88129, #5ec8be);
  background: url('../images/admin/admin_header_bg_polygon.png'), -ms-linear-gradient(left, #e88129, #5ec8be);
  background: url('../images/admin/admin_header_bg_polygon.png'), -o-linear-gradient(left, #e88129, #5ec8be);
  width: 230px;
  min-height: 50px;
  position: fixed;
  z-index: 200;
  color: #ffffff;
  background-size: 100%;
}
.admin-sidebar-header .logo {
  margin-top: 12px;
  font-size: 18px;
}
.admin-sidebar-nav-box {
  padding-top: 50px;
  width: 230px;
  border-right: 1px solid #dddddd;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  overflow-y: scroll;
}
.admin-sidebar-nav-box .admin-profile {
  padding: 20px 15px;
  border-bottom: 1px solid #dddddd;
}
.admin-sidebar-nav-box .admin-profile img {
  border: 1px solid #dddddd;
  width: 64px;
  height: 64px;
}
.admin-sidebar-nav-box .admin-profile-text-box {
  padding: 10px;
}
.admin-sidebar-nav-box .admin-profile-name {
  font-size: 18px;
  font-weight: bold;
}
.admin-sidebar-nav-box .admin-profile-desc {
  font-size: 14px;
  color: #71807e;
}
@media (max-width: 767px) {
  .admin-sidebar-nav-box {
    display: none;
  }
}
.admin-sidebar-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.admin-content-wrapper {
  padding-top: 50px;
  margin-left: 230px;
  position: relative;
}
@media (max-width: 767px) {
  .admin-content-wrapper {
    margin-left: 0;
  }
}
.admin-content-top {
  border-bottom: 1px solid #dddddd;
  padding: 15px;
  font-size: 18px;
  -webkit-box-shadow: 3px -2px 5px 1px #dddddd;
  -moz-box-shadow: 3px -2px 5px 1px #dddddd;
  box-shadow: 3px -2px 5px 1px #dddddd;
}
.admin-nav {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}
.admin-nav ul > li > a {
  color: #4d5756;
  border-bottom: 1px solid #dddddd;
  padding: 12px 15px;
  width: 100%;
  font-weight: normal;
}
.admin-nav ul > li > a:hover,
.admin-nav ul > li > a:active {
  background-color: #f2f3f3;
}
.admin-nav ul > li.active > a {
  background-color: #f2f3f3;
}
.admin-nav ul > li.disabled > a {
  cursor: default;
  color: #dce0e0;
}
.admin-nav ul > li.disabled > a:hover,
.admin-nav ul > li.disabled > a:active {
  background-color: transparent;
}
.admin-content {
  padding: 30px;
}
.admin-content-body {
  min-width: 500px;
  max-width: 1200px;
}
@media (min-width: 1200px) {
  .admin-content-body {
    min-width: 850px;
  }
}
.admin-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 229px;
  background-color: #f7f8f8;
  padding: 15px;
  z-index: 1;
}
.admin-loading-box {
  height: 100px;
  position: relative;
}
.admin-loading-box i {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 10;
}
.btn-admin-default {
  color: #4d5756;
  background-color: #f9faf9;
  border-color: #ebeeeb;
  font-size: 13px;
}
.btn-admin-default:focus,
.btn-admin-default.focus {
  color: #4d5756;
  background-color: #dde3dd;
  border-color: #c1ccc1;
}
.btn-admin-default:hover {
  color: #4d5756;
  background-color: #dde3dd;
  border-color: #dde3dd;
}
.btn-admin-default:active,
.btn-admin-default.active,
.open > .dropdown-toggle.btn-admin-default {
  color: #4d5756;
  background-color: #dde3dd;
  border-color: #dde3dd;
}
.btn-admin-default:active:hover,
.btn-admin-default.active:hover,
.open > .dropdown-toggle.btn-admin-default:hover,
.btn-admin-default:active:focus,
.btn-admin-default.active:focus,
.open > .dropdown-toggle.btn-admin-default:focus,
.btn-admin-default:active.focus,
.btn-admin-default.active.focus,
.open > .dropdown-toggle.btn-admin-default.focus {
  color: #4d5756;
  background-color: #cad3ca;
  border-color: #c1ccc1;
}
.btn-admin-default:active,
.btn-admin-default.active,
.open > .dropdown-toggle.btn-admin-default {
  background-image: none;
}
.btn-admin-default.disabled,
.btn-admin-default[disabled],
fieldset[disabled] .btn-admin-default,
.btn-admin-default.disabled:hover,
.btn-admin-default[disabled]:hover,
fieldset[disabled] .btn-admin-default:hover,
.btn-admin-default.disabled:focus,
.btn-admin-default[disabled]:focus,
fieldset[disabled] .btn-admin-default:focus,
.btn-admin-default.disabled.focus,
.btn-admin-default[disabled].focus,
fieldset[disabled] .btn-admin-default.focus,
.btn-admin-default.disabled:active,
.btn-admin-default[disabled]:active,
fieldset[disabled] .btn-admin-default:active,
.btn-admin-default.disabled.active,
.btn-admin-default[disabled].active,
fieldset[disabled] .btn-admin-default.active {
  background-color: #f9faf9;
  border-color: #f9faf9;
}
.btn-admin-primary {
  color: #ffffff;
  background-color: #00b4b9;
  border-color: #009ba0;
  font-size: 13px;
}
.btn-admin-primary:focus,
.btn-admin-primary.focus {
  color: #ffffff;
  background-color: #008286;
  border-color: #005153;
}
.btn-admin-primary:hover {
  color: #ffffff;
  background-color: #008286;
  border-color: #008286;
}
.btn-admin-primary:active,
.btn-admin-primary.active,
.open > .dropdown-toggle.btn-admin-primary {
  color: #ffffff;
  background-color: #008286;
  border-color: #008286;
}
.btn-admin-primary:active:hover,
.btn-admin-primary.active:hover,
.open > .dropdown-toggle.btn-admin-primary:hover,
.btn-admin-primary:active:focus,
.btn-admin-primary.active:focus,
.open > .dropdown-toggle.btn-admin-primary:focus,
.btn-admin-primary:active.focus,
.btn-admin-primary.active.focus,
.open > .dropdown-toggle.btn-admin-primary.focus {
  color: #ffffff;
  background-color: #006062;
  border-color: #005153;
}
.btn-admin-primary:active,
.btn-admin-primary.active,
.open > .dropdown-toggle.btn-admin-primary {
  background-image: none;
}
.btn-admin-primary.disabled,
.btn-admin-primary[disabled],
fieldset[disabled] .btn-admin-primary,
.btn-admin-primary.disabled:hover,
.btn-admin-primary[disabled]:hover,
fieldset[disabled] .btn-admin-primary:hover,
.btn-admin-primary.disabled:focus,
.btn-admin-primary[disabled]:focus,
fieldset[disabled] .btn-admin-primary:focus,
.btn-admin-primary.disabled.focus,
.btn-admin-primary[disabled].focus,
fieldset[disabled] .btn-admin-primary.focus,
.btn-admin-primary.disabled:active,
.btn-admin-primary[disabled]:active,
fieldset[disabled] .btn-admin-primary:active,
.btn-admin-primary.disabled.active,
.btn-admin-primary[disabled].active,
fieldset[disabled] .btn-admin-primary.active {
  background-color: #00b4b9;
  border-color: #00b4b9;
}
.btn-small {
  padding: 2px 10px;
  font-size: 12px;
}
.admin-color-box {
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 3px;
}
.admin-color-list {
  padding: 15px 15px 5px;
}
.color-box-brand-default {
  color: #ffffff;
  background-color: #5fcba7;
  border-color: #5fcba7;
}
.color-box-brand-default:focus,
.color-box-brand-default.focus {
  color: #ffffff;
  background-color: #3dba90;
  border-color: #2a8164;
}
.color-box-brand-default:hover {
  color: #ffffff;
  background-color: #3dba90;
  border-color: #3ab38b;
}
.color-box-brand-default:active,
.color-box-brand-default.active,
.open > .dropdown-toggle.color-box-brand-default {
  color: #ffffff;
  background-color: #3dba90;
  border-color: #3ab38b;
}
.color-box-brand-default:active:hover,
.color-box-brand-default.active:hover,
.open > .dropdown-toggle.color-box-brand-default:hover,
.color-box-brand-default:active:focus,
.color-box-brand-default.active:focus,
.open > .dropdown-toggle.color-box-brand-default:focus,
.color-box-brand-default:active.focus,
.color-box-brand-default.active.focus,
.open > .dropdown-toggle.color-box-brand-default.focus {
  color: #ffffff;
  background-color: #349f7c;
  border-color: #2a8164;
}
.color-box-brand-default:active,
.color-box-brand-default.active,
.open > .dropdown-toggle.color-box-brand-default {
  background-image: none;
}
.color-box-brand-default.disabled,
.color-box-brand-default[disabled],
fieldset[disabled] .color-box-brand-default,
.color-box-brand-default.disabled:hover,
.color-box-brand-default[disabled]:hover,
fieldset[disabled] .color-box-brand-default:hover,
.color-box-brand-default.disabled:focus,
.color-box-brand-default[disabled]:focus,
fieldset[disabled] .color-box-brand-default:focus,
.color-box-brand-default.disabled.focus,
.color-box-brand-default[disabled].focus,
fieldset[disabled] .color-box-brand-default.focus,
.color-box-brand-default.disabled:active,
.color-box-brand-default[disabled]:active,
fieldset[disabled] .color-box-brand-default:active,
.color-box-brand-default.disabled.active,
.color-box-brand-default[disabled].active,
fieldset[disabled] .color-box-brand-default.active {
  background-color: #5fcba7;
  border-color: #5fcba7;
}
.color-box-brand-green {
  color: #ffffff;
  background-color: #519a81;
  border-color: #519a81;
}
.color-box-brand-green:focus,
.color-box-brand-green.focus {
  color: #ffffff;
  background-color: #3f7965;
  border-color: #25463b;
}
.color-box-brand-green:hover {
  color: #ffffff;
  background-color: #3f7965;
  border-color: #3c725f;
}
.color-box-brand-green:active,
.color-box-brand-green.active,
.open > .dropdown-toggle.color-box-brand-green {
  color: #ffffff;
  background-color: #3f7965;
  border-color: #3c725f;
}
.color-box-brand-green:active:hover,
.color-box-brand-green.active:hover,
.open > .dropdown-toggle.color-box-brand-green:hover,
.color-box-brand-green:active:focus,
.color-box-brand-green.active:focus,
.open > .dropdown-toggle.color-box-brand-green:focus,
.color-box-brand-green:active.focus,
.color-box-brand-green.active.focus,
.open > .dropdown-toggle.color-box-brand-green.focus {
  color: #ffffff;
  background-color: #336151;
  border-color: #25463b;
}
.color-box-brand-green:active,
.color-box-brand-green.active,
.open > .dropdown-toggle.color-box-brand-green {
  background-image: none;
}
.color-box-brand-green.disabled,
.color-box-brand-green[disabled],
fieldset[disabled] .color-box-brand-green,
.color-box-brand-green.disabled:hover,
.color-box-brand-green[disabled]:hover,
fieldset[disabled] .color-box-brand-green:hover,
.color-box-brand-green.disabled:focus,
.color-box-brand-green[disabled]:focus,
fieldset[disabled] .color-box-brand-green:focus,
.color-box-brand-green.disabled.focus,
.color-box-brand-green[disabled].focus,
fieldset[disabled] .color-box-brand-green.focus,
.color-box-brand-green.disabled:active,
.color-box-brand-green[disabled]:active,
fieldset[disabled] .color-box-brand-green:active,
.color-box-brand-green.disabled.active,
.color-box-brand-green[disabled].active,
fieldset[disabled] .color-box-brand-green.active {
  background-color: #519a81;
  border-color: #519a81;
}
.color-box-brand-green-dark {
  color: #ffffff;
  background-color: #108a66;
  border-color: #108a66;
}
.color-box-brand-green-dark:focus,
.color-box-brand-green-dark.focus {
  color: #ffffff;
  background-color: #0b5c44;
  border-color: #031812;
}
.color-box-brand-green-dark:hover {
  color: #ffffff;
  background-color: #0b5c44;
  border-color: #0a533d;
}
.color-box-brand-green-dark:active,
.color-box-brand-green-dark.active,
.open > .dropdown-toggle.color-box-brand-green-dark {
  color: #ffffff;
  background-color: #0b5c44;
  border-color: #0a533d;
}
.color-box-brand-green-dark:active:hover,
.color-box-brand-green-dark.active:hover,
.open > .dropdown-toggle.color-box-brand-green-dark:hover,
.color-box-brand-green-dark:active:focus,
.color-box-brand-green-dark.active:focus,
.open > .dropdown-toggle.color-box-brand-green-dark:focus,
.color-box-brand-green-dark:active.focus,
.color-box-brand-green-dark.active.focus,
.open > .dropdown-toggle.color-box-brand-green-dark.focus {
  color: #ffffff;
  background-color: #073c2d;
  border-color: #031812;
}
.color-box-brand-green-dark:active,
.color-box-brand-green-dark.active,
.open > .dropdown-toggle.color-box-brand-green-dark {
  background-image: none;
}
.color-box-brand-green-dark.disabled,
.color-box-brand-green-dark[disabled],
fieldset[disabled] .color-box-brand-green-dark,
.color-box-brand-green-dark.disabled:hover,
.color-box-brand-green-dark[disabled]:hover,
fieldset[disabled] .color-box-brand-green-dark:hover,
.color-box-brand-green-dark.disabled:focus,
.color-box-brand-green-dark[disabled]:focus,
fieldset[disabled] .color-box-brand-green-dark:focus,
.color-box-brand-green-dark.disabled.focus,
.color-box-brand-green-dark[disabled].focus,
fieldset[disabled] .color-box-brand-green-dark.focus,
.color-box-brand-green-dark.disabled:active,
.color-box-brand-green-dark[disabled]:active,
fieldset[disabled] .color-box-brand-green-dark:active,
.color-box-brand-green-dark.disabled.active,
.color-box-brand-green-dark[disabled].active,
fieldset[disabled] .color-box-brand-green-dark.active {
  background-color: #108a66;
  border-color: #108a66;
}
.color-box-brand-khaki {
  color: #ffffff;
  background-color: #606b57;
  border-color: #606b57;
}
.color-box-brand-khaki:focus,
.color-box-brand-khaki.focus {
  color: #ffffff;
  background-color: #474f40;
  border-color: #21251e;
}
.color-box-brand-khaki:hover {
  color: #ffffff;
  background-color: #474f40;
  border-color: #42493c;
}
.color-box-brand-khaki:active,
.color-box-brand-khaki.active,
.open > .dropdown-toggle.color-box-brand-khaki {
  color: #ffffff;
  background-color: #474f40;
  border-color: #42493c;
}
.color-box-brand-khaki:active:hover,
.color-box-brand-khaki.active:hover,
.open > .dropdown-toggle.color-box-brand-khaki:hover,
.color-box-brand-khaki:active:focus,
.color-box-brand-khaki.active:focus,
.open > .dropdown-toggle.color-box-brand-khaki:focus,
.color-box-brand-khaki:active.focus,
.color-box-brand-khaki.active.focus,
.open > .dropdown-toggle.color-box-brand-khaki.focus {
  color: #ffffff;
  background-color: #353b30;
  border-color: #21251e;
}
.color-box-brand-khaki:active,
.color-box-brand-khaki.active,
.open > .dropdown-toggle.color-box-brand-khaki {
  background-image: none;
}
.color-box-brand-khaki.disabled,
.color-box-brand-khaki[disabled],
fieldset[disabled] .color-box-brand-khaki,
.color-box-brand-khaki.disabled:hover,
.color-box-brand-khaki[disabled]:hover,
fieldset[disabled] .color-box-brand-khaki:hover,
.color-box-brand-khaki.disabled:focus,
.color-box-brand-khaki[disabled]:focus,
fieldset[disabled] .color-box-brand-khaki:focus,
.color-box-brand-khaki.disabled.focus,
.color-box-brand-khaki[disabled].focus,
fieldset[disabled] .color-box-brand-khaki.focus,
.color-box-brand-khaki.disabled:active,
.color-box-brand-khaki[disabled]:active,
fieldset[disabled] .color-box-brand-khaki:active,
.color-box-brand-khaki.disabled.active,
.color-box-brand-khaki[disabled].active,
fieldset[disabled] .color-box-brand-khaki.active {
  background-color: #606b57;
  border-color: #606b57;
}
.color-box-brand-green-lighter {
  color: #ffffff;
  background-color: #74cac3;
  border-color: #74cac3;
}
.color-box-brand-green-lighter:focus,
.color-box-brand-green-lighter.focus {
  color: #ffffff;
  background-color: #4fbcb3;
  border-color: #358a83;
}
.color-box-brand-green-lighter:hover {
  color: #ffffff;
  background-color: #4fbcb3;
  border-color: #48b9b0;
}
.color-box-brand-green-lighter:active,
.color-box-brand-green-lighter.active,
.open > .dropdown-toggle.color-box-brand-green-lighter {
  color: #ffffff;
  background-color: #4fbcb3;
  border-color: #48b9b0;
}
.color-box-brand-green-lighter:active:hover,
.color-box-brand-green-lighter.active:hover,
.open > .dropdown-toggle.color-box-brand-green-lighter:hover,
.color-box-brand-green-lighter:active:focus,
.color-box-brand-green-lighter.active:focus,
.open > .dropdown-toggle.color-box-brand-green-lighter:focus,
.color-box-brand-green-lighter:active.focus,
.color-box-brand-green-lighter.active.focus,
.open > .dropdown-toggle.color-box-brand-green-lighter.focus {
  color: #ffffff;
  background-color: #40a79f;
  border-color: #358a83;
}
.color-box-brand-green-lighter:active,
.color-box-brand-green-lighter.active,
.open > .dropdown-toggle.color-box-brand-green-lighter {
  background-image: none;
}
.color-box-brand-green-lighter.disabled,
.color-box-brand-green-lighter[disabled],
fieldset[disabled] .color-box-brand-green-lighter,
.color-box-brand-green-lighter.disabled:hover,
.color-box-brand-green-lighter[disabled]:hover,
fieldset[disabled] .color-box-brand-green-lighter:hover,
.color-box-brand-green-lighter.disabled:focus,
.color-box-brand-green-lighter[disabled]:focus,
fieldset[disabled] .color-box-brand-green-lighter:focus,
.color-box-brand-green-lighter.disabled.focus,
.color-box-brand-green-lighter[disabled].focus,
fieldset[disabled] .color-box-brand-green-lighter.focus,
.color-box-brand-green-lighter.disabled:active,
.color-box-brand-green-lighter[disabled]:active,
fieldset[disabled] .color-box-brand-green-lighter:active,
.color-box-brand-green-lighter.disabled.active,
.color-box-brand-green-lighter[disabled].active,
fieldset[disabled] .color-box-brand-green-lighter.active {
  background-color: #74cac3;
  border-color: #74cac3;
}
.color-box-brand-point-blue {
  color: #ffffff;
  background-color: #00b4b9;
  border-color: #00b4b9;
}
.color-box-brand-point-blue:focus,
.color-box-brand-point-blue.focus {
  color: #ffffff;
  background-color: #008286;
  border-color: #003839;
}
.color-box-brand-point-blue:hover {
  color: #ffffff;
  background-color: #008286;
  border-color: #00787c;
}
.color-box-brand-point-blue:active,
.color-box-brand-point-blue.active,
.open > .dropdown-toggle.color-box-brand-point-blue {
  color: #ffffff;
  background-color: #008286;
  border-color: #00787c;
}
.color-box-brand-point-blue:active:hover,
.color-box-brand-point-blue.active:hover,
.open > .dropdown-toggle.color-box-brand-point-blue:hover,
.color-box-brand-point-blue:active:focus,
.color-box-brand-point-blue.active:focus,
.open > .dropdown-toggle.color-box-brand-point-blue:focus,
.color-box-brand-point-blue:active.focus,
.color-box-brand-point-blue.active.focus,
.open > .dropdown-toggle.color-box-brand-point-blue.focus {
  color: #ffffff;
  background-color: #006062;
  border-color: #003839;
}
.color-box-brand-point-blue:active,
.color-box-brand-point-blue.active,
.open > .dropdown-toggle.color-box-brand-point-blue {
  background-image: none;
}
.color-box-brand-point-blue.disabled,
.color-box-brand-point-blue[disabled],
fieldset[disabled] .color-box-brand-point-blue,
.color-box-brand-point-blue.disabled:hover,
.color-box-brand-point-blue[disabled]:hover,
fieldset[disabled] .color-box-brand-point-blue:hover,
.color-box-brand-point-blue.disabled:focus,
.color-box-brand-point-blue[disabled]:focus,
fieldset[disabled] .color-box-brand-point-blue:focus,
.color-box-brand-point-blue.disabled.focus,
.color-box-brand-point-blue[disabled].focus,
fieldset[disabled] .color-box-brand-point-blue.focus,
.color-box-brand-point-blue.disabled:active,
.color-box-brand-point-blue[disabled]:active,
fieldset[disabled] .color-box-brand-point-blue:active,
.color-box-brand-point-blue.disabled.active,
.color-box-brand-point-blue[disabled].active,
fieldset[disabled] .color-box-brand-point-blue.active {
  background-color: #00b4b9;
  border-color: #00b4b9;
}
.color-box-brand-point-orange {
  color: #ffffff;
  background-color: #e88129;
  border-color: #e88129;
}
.color-box-brand-point-orange:focus,
.color-box-brand-point-orange.focus {
  color: #ffffff;
  background-color: #c86816;
  border-color: #83440e;
}
.color-box-brand-point-orange:hover {
  color: #ffffff;
  background-color: #c86816;
  border-color: #bf6315;
}
.color-box-brand-point-orange:active,
.color-box-brand-point-orange.active,
.open > .dropdown-toggle.color-box-brand-point-orange {
  color: #ffffff;
  background-color: #c86816;
  border-color: #bf6315;
}
.color-box-brand-point-orange:active:hover,
.color-box-brand-point-orange.active:hover,
.open > .dropdown-toggle.color-box-brand-point-orange:hover,
.color-box-brand-point-orange:active:focus,
.color-box-brand-point-orange.active:focus,
.open > .dropdown-toggle.color-box-brand-point-orange:focus,
.color-box-brand-point-orange:active.focus,
.color-box-brand-point-orange.active.focus,
.open > .dropdown-toggle.color-box-brand-point-orange.focus {
  color: #ffffff;
  background-color: #a85712;
  border-color: #83440e;
}
.color-box-brand-point-orange:active,
.color-box-brand-point-orange.active,
.open > .dropdown-toggle.color-box-brand-point-orange {
  background-image: none;
}
.color-box-brand-point-orange.disabled,
.color-box-brand-point-orange[disabled],
fieldset[disabled] .color-box-brand-point-orange,
.color-box-brand-point-orange.disabled:hover,
.color-box-brand-point-orange[disabled]:hover,
fieldset[disabled] .color-box-brand-point-orange:hover,
.color-box-brand-point-orange.disabled:focus,
.color-box-brand-point-orange[disabled]:focus,
fieldset[disabled] .color-box-brand-point-orange:focus,
.color-box-brand-point-orange.disabled.focus,
.color-box-brand-point-orange[disabled].focus,
fieldset[disabled] .color-box-brand-point-orange.focus,
.color-box-brand-point-orange.disabled:active,
.color-box-brand-point-orange[disabled]:active,
fieldset[disabled] .color-box-brand-point-orange:active,
.color-box-brand-point-orange.disabled.active,
.color-box-brand-point-orange[disabled].active,
fieldset[disabled] .color-box-brand-point-orange.active {
  background-color: #e88129;
  border-color: #e88129;
}
.admin-panel-body {
  min-height: 100px;
  padding: 0;
  font-size: 14px;
}
.admin-panel-item {
  padding: 10px 15px;
  min-width: 120px;
}
.col-xs-8.admin-panel-item,
.col-md-9.admin-panel-item {
  -webkit-box-shadow: -2px 2px 0px -1px #dddddd;
  -moz-box-shadow: -2px 2px 0px -1px #dddddd;
  box-shadow: -2px 2px 0px -1px #dddddd;
  border-bottom: 1px solid #ffffff;
  min-height: 40px;
}
.hidden-block {
  visibility: hidden;
  display: none;
}
.visible-block {
  visibility: visible;
  display: block;
}
.panel-single {
  margin-bottom: 0;
}
.wireframe-box {
  margin-bottom: 10px;
}
.wireframe-block {
  width: 100%;
  padding: 12px;
  background-color: #CCCCCC;
  border-radius: 5px;
}
.light-block {
  background-color: #DDDDDD;
}
